.DS_Store
__pycache__
tests/*

Daily.md
Destinations.md


write_cities_to_dynamo.py
sunny_weather/*
cloudwatch/*

lambda_weather/src/__pycache__

lambda_weather/src/__pycache__
lambda_weather/package
lambda_weather/deploy-weather.zip

.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup


