.DS_Store
__pycache__
tests/
test_new_api.py
Daily.md
Destinations.md

lambda_weather/src/__pycache__

lambda_weather/src/__pycache__
lambda_weather/package

sunny_weather/src/__pycache__

.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

*.zip
